<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.threading>
    <threadPool>
      <MinThreads>500</MinThreads>
      <MaxThreads>1000</MaxThreads>
    </threadPool>
  </system.threading>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="1000"/>
    </connectionManagement>
  </system.net>
</configuration>